# Python and SQL

In [11]:
import pandas as pd
import sqlite3

# Read the CSV data
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Write the DataFrame to a SQLite table
df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False, method="multi")

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Example SQL query
cursor.execute('SELECT * FROM SPACEXTBL LIMIT 5')

# Fetch and display the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [12]:
import sqlite3

# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Get the column names from the table
query = 'PRAGMA table_info(SPACEXTBL)'
cursor.execute(query)

# Fetch and display the column names
columns = cursor.fetchall()
for column in columns:
    print(column[1])

# Close the cursor and connection
cursor.close()
conn.close()

Date
Time (UTC)
Booster_Version
Launch_Site
Payload
PAYLOAD_MASS__KG_
Orbit
Customer
Mission_Outcome
Landing_Outcome

# Task 1

In [14]:
# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL query to retrieve unique launch sites
query = 'SELECT DISTINCT Launch_Site FROM SPACEXTBL'

# Execute the query
cursor.execute(query)

# Fetch and display the results
launch_sites = cursor.fetchall()
for site in launch_sites:
    print(site[0])

# Close the cursor and connection
cursor.close()
conn.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40

# Task 2

In [21]:
# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# SQL query to retrieve 5 records where launch sites begin with 'CCA'
query = "SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5"

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

# Task 3

In [19]:
# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# SQL query to calculate the total payload mass for NASA (CRS) launches
query = '''
    SELECT Launch_Site, SUM(PAYLOAD_MASS__KG_) as TotalPayloadMass
    FROM SPACEXTBL
    WHERE Customer = 'NASA (CRS)'
    GROUP BY Launch_Site
'''

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

    Launch_Site  TotalPayloadMass
0   CCAFS LC-40             17327
1  CCAFS SLC-40             16789
2    KSC LC-39A             11480

# Task 4

In [22]:
import sqlite3
import pandas as pd

# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# SQL query to calculate the average payload mass for booster version F9 v1.1
query = '''
    SELECT Booster_Version, AVG(PAYLOAD_MASS__KG_) as AveragePayloadMass
    FROM SPACEXTBL
    WHERE Booster_Version = 'F9 v1.1'
    GROUP BY Booster_Version
'''

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

  Booster_Version  AveragePayloadMass
0         F9 v1.1              2928.4

# Task 5

In [24]:
# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL query to find the date of the first successful landing on a ground pad
query = '''
    SELECT MIN(Date) as FirstSuccessfulLandingDate
    FROM SPACEXTBL
    WHERE Landing_Outcome = 'Success' AND Launch_Site IS NOT NULL
'''

# Execute the query
cursor.execute(query)

# Fetch and display the result
result = cursor.fetchone()
print("Date of the first successful landing on a ground pad:", result[0])

# Close the cursor and connection
cursor.close()
conn.close()

Date of the first successful landing on a ground pad: 2018-07-22

# Task 6

In [36]:
# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL query to find the names of boosters with successful drone ship landing
# and payload mass between 4000 and 6000
query = '''
    SELECT Booster_Version
    FROM SPACEXTBL
    WHERE Landing_Outcome = 'Success' 
        AND Booster_Version = 'Drone Ship' 
        AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000
'''

# Execute the query
cursor.execute(query)

# Fetch and display the results
boosters = cursor.fetchall()
for booster in boosters:
    print(booster[0])

# Close the cursor and connection
cursor.close()
conn.close()

# Task 7

In [28]:
import sqlite3

# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL query to count the number of successful and failure mission outcomes
query = '''
    SELECT Mission_Outcome, COUNT(*) as Count
    FROM SPACEXTBL
    GROUP BY Mission_Outcome
'''

# Execute the query
cursor.execute(query)

# Fetch and display the results
results = cursor.fetchall()
for result in results:
    print(f"{result[0]}: {result[1]}")

# Close the cursor and connection
cursor.close()
conn.close()

Failure (in flight): 1
Success: 98
Success : 1
Success (payload status unclear): 1

# Task 8

In [32]:
# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL query with a subquery to find booster_versions with the maximum payload mass
query = '''
    SELECT Booster_Version
    FROM SPACEXTBL
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)
'''

# Execute the query
cursor.execute(query)

# Fetch and display the results
booster_versions = cursor.fetchall()
for booster_version in booster_versions:
    print(booster_version[0])

# Close the cursor and connection
cursor.close()
conn.close()

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

# Task 9

In [37]:
# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL query to retrieve records for failure landing outcomes in drone ship for the year 2015
query = '''
    SELECT 
        substr(Date, 6, 2) as Month,
        Launch_Site,
        Booster_Version,
        Landing_Outcome
    FROM SPACEXTBL
    WHERE substr(Date, 0, 5) = '2015'
        AND Landing_Outcome = 'Failure'
        AND Booster_Version = 'Drone Ship'
'''

# Execute the query
cursor.execute(query)

# Fetch and display the results
records = cursor.fetchall()
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

# Task 10

In [38]:
import sqlite3

# Create a SQLite connection
conn = sqlite3.connect('spacex.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL query to rank the count of landing outcomes between specified dates
query = '''
    SELECT
        Landing_Outcome,
        COUNT(*) as OutcomeCount
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY OutcomeCount DESC
'''

# Execute the query
cursor.execute(query)

# Fetch and display the results
records = cursor.fetchall()
for record in records:
    print(f"{record[0]}: {record[1]}")

# Close the cursor and connection
cursor.close()
conn.close()

No attempt: 10
Success (drone ship): 5
Failure (drone ship): 5
Success (ground pad): 3
Controlled (ocean): 3
Uncontrolled (ocean): 2
Failure (parachute): 2
Precluded (drone ship): 1